[Unit]
Description=mysqlApp
After=multi-user.target

[Service]
WorkingDirectory=/home/ec2-user/webapp-main
ExecStart=/usr/bin/node /home/ec2-user/webapp-main/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mysqlApp
User=ec2-user

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target